:root {
  --bg: #0f172a;
  --card: #1e293b;
  --accent: #facc15;
  --text: #f8fafc;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
  padding: 3rem 1rem 1rem 1rem;
  background-color: var(--card);
}
header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
header p {      
  color: #cbd5e1;
}
header img {
  border-radius: 50%;
  margin-bottom: 1rem;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}
.section-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-left: 4px solid var(--accent);
  padding-left: 1rem;
}
.card {
  background: var(--card);
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5rem;
}
a {
  color: var(--accent);
  text-decoration: none;
  transition: 0.5s;
}

a:visited {
  color: var(--accent);
}

a:hover {
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 3px;
}

button {
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--bg);
  color: var(--accent);
}

input {
  width: 100%;
  padding: 0.3rem;
  margin: 0.3rem;
  border: 1px solid var(--accent);
  border-radius: 5px;
  background-color: var(--card);
  color: var(--text);
}


.popup-parent {
  position: relative;
  display: inline-block;
}
.popup {
  background: var(--card);
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-30%);
  z-index: 10;
  display: none;
  min-width: 220px;
  color: var(--text);
  font-size: 1rem;
  margin-top: 0.1rem;
  outline: var(--accent) solid 2px;
}
.popup-parent:hover .popup {
  display: block;
}
.popup:hover .popup {
  display: block;
}

#top-menu-bar {
  text-align: center;
  background-color: var(--card);
  color: var(--text);
  padding-top: 1rem;
}

#top-menu-bar li {
  display: inline;
  margin: 1rem;
}

#top-menu-bar a {
  color: var(--accent);
  padding: 0.1rem 0.5rem;
  text-decoration: none;
  transition: 0s;
}

#top-menu-bar a:visited {
  color: var(--accent);
}

#top-menu-bar a:hover {
  background-color: var(--accent);
  color: var(--bg);
  border-radius: 5px;
}

#avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

#content {
  flex: 1;
}

.rubix-face {
  background-color: #0d0d0d;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 200px;
  padding: 4px;
  grid-gap: 4px;
}

.rubix-face div{
  border: 2px solid #0d0d33;
  padding-top: 100%;;
  border-radius: 0.2rem;
  transition: 1s;
}

footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 2rem 1rem;
  color: #94a3b8;
}
